@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

.section {
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    width: 70%;
}

.year-input-field {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
}

.year-input {
    float: left;
    font-family: 'Dosis';
    width: 50px;
}