.section {
    display: flex;
    float: left;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    width: 70%;
}

.chart-container {
    height: 250px;
    margin: 0 auto;
    width: 442px;
}

.title {
    font-size: 13px;
    text-align: center;
}