@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

.button:active {
    background-color: #A9FFBA;
}

.button {
    background-color: #28FC50;
    /* border: solid 1px #000; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 28px;
    font-family: 'Dosis';
    font-weight: 600;
    width: 100px;
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.spinner {
    animation: rotate 2s linear infinite;
    font-size: 18px;
    margin-top: 3px;
}