.row-container {
    border-bottom: solid 1px #E4E4E4;
    border-top: solid 1px #E4E4E4;
    cursor: pointer;
    height: 40px;
    float: left;
    width: 100%;
}

.title {
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 11px;
    width: 17%;
}

.demanda-field {
    background-color: #E49330;
    border-radius: 5px;
    color: #fff;
    display: flex;
    height: 23px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 100px;
}

.chart-title {
    float: left;
    text-align: center;
    width: 100%;
}